.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}
.banner__titulo {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
}
.banner__texto {
    font-weight: 500;
        margin: 1em 0;
}
.banner__pesquisa {
    background: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    padding: 1em;
    border-radius: 24px;
    width: 100%;
}

.banner__pesquisa::placeholder {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: url("../img/Lupa.svg") no-repeat ;

}