.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--branco);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;

}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    border-bottom: var(--branco);
}

.lista-menu__titulo {
    font-weight: bold;
    color: var(--laranja);
    font-weight: 700;
}


.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
