.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.tópicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.tópicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos__item {
    margin: 2em 0.5em;
}

.tópicos__link {
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

/*contato*/

.contato{
    background-color: var(--branco);
    padding: 1em;
}
.contato__titulo {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo,
.contato__texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__email {
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url("../img/Email.svg") no-repeat;
    padding-left: 2em;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
}
.contato__texto {
    font-weight: 300;
    margin: 1em 0;
}

.rodapé {
    background: var(--branco);
    color: var(--azul);
    text-align: center;
    padding: 1em 0;
}

.rodapé__titulo {
    font-size: 10px;
    font-weight: 500;
}
hr {
    margin: 0;
}

@media screen and (min-width: 1024px) {
    .tópicos__titulo {
        font-size: 24px;
    }
    .tópicos__link{
        font-size: 16px;
    }
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contato__titulo {
        font-size: 24px;
    }
    
    .contato__descrição {
        margin-right: 1em;
        width: 30%;
    }
    
    .contato__email {
        width: 30%;
    }
    
}
@media screen and (min-width: 1728px) {
    .topicos{
        padding: 3em 30vw;
    }
    .contato {
        padding: 3em 20vw;
    }
    
}